@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="shortcut icon" href="~/img/icons/icon-48x48.png" />
    <title>@ViewData["Title"] - Online Auction</title>
    <link href="~/css/app.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <nav id="sidebar" class="sidebar js-sidebar">
            <div class="sidebar-content js-simplebar">
                <a asp-controller="Home" asp-action="Index" class="sidebar-brand">
                    <span class="align-middle">Online Auction</span>
                </a>
                <ul class="sidebar-nav">
                    <li class="sidebar-item active">
                        <a asp-controller="Home" asp-action="Index" class="sidebar-link">
                            <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Dashboard</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a asp-controller="Auction" asp-action="Index" class="sidebar-link">
                            <i class="align-middle" data-feather="square"></i> <span class="align-middle">Auctions</span>
                        </a>
                    </li>

                    <li class="sidebar-header">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <span>@UserManager.GetUserName(User)</span>
                        }
                        else
                        {
                            <span>Anonymous user</span>
                        }
                    </li>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-controller="Home" asp-action="Logout">
                                <i class="align-middle" data-feather="log-out"></i> <span class="align-middle">Logout</span>
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-controller="Home" asp-action="Login">
                                <i class="align-middle" data-feather="log-in"></i> <span class="align-middle">Login</span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-controller="Home" asp-action="Register">
                                <i class="align-middle" data-feather="user-plus"></i> <span class="align-middle">Sign Up</span>
                            </a>
                        </li>
                    }                   
                </ul>
            </div>
        </nav>

        <div class="main">
            <main class="content">
                <div class="container-fluid p-0">
                    @RenderBody()
                </div>
            </main>

            <footer class="footer">
                <div class="container-fluid">
                    <div class="row text-muted">
                        <div class="col-6 text-start">
                            <p class="mb-0">
                                <a class="text-muted" href="https://adminkit.io/" target="_blank"><strong>Online Auction</strong></a> &copy;
                            </p>
                        </div>
                        <div class="col-6 text-end">
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <a class="text-muted" href="https://adminkit.io/" target="_blank">Support</a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="text-muted" href="https://adminkit.io/" target="_blank">Help Center</a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="text-muted" href="https://adminkit.io/" target="_blank">Privacy</a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="text-muted" href="https://adminkit.io/" target="_blank">Terms</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/app.js"></script>

    @RenderSection("Scripts",false)
</body>
</html>
